/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.AssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.AssemblyInfoInputs.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.assets.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.GeneratedMSBuildEditorConfig.editorconfig
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.GlobalUsings.g.cs
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Flight.AirService.AccessData.csproj.nuget.dgspec.json
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Flight.AirService.AccessData.csproj.nuget.g.props
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Flight.AirService.AccessData.csproj.nuget.g.targets
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/project.assets.json
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/project.nuget.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.AssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.AssemblyInfoInputs.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.assets.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.GeneratedMSBuildEditorConfig.editorconfig
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.GlobalUsings.g.cs
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Flight.AirService.DTOObjects.csproj.nuget.dgspec.json
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Flight.AirService.DTOObjects.csproj.nuget.g.props
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Flight.AirService.DTOObjects.csproj.nuget.g.targets
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/project.assets.json
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/project.nuget.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.AssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.AssemblyInfoInputs.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.assets.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.csproj.AssemblyReference.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.GeneratedMSBuildEditorConfig.editorconfig
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.GlobalUsings.g.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Flight.AirService.Api.csproj.nuget.dgspec.json
/Flight.AirService.Solution/Flight.AirService.Api/obj/Flight.AirService.Api.csproj.nuget.g.props
/Flight.AirService.Solution/Flight.AirService.Api/obj/Flight.AirService.Api.csproj.nuget.g.targets
/Flight.AirService.Solution/Flight.AirService.Api/obj/project.assets.json
/Flight.AirService.Solution/Flight.AirService.Api/obj/project.nuget.cache
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/DesignTimeBuild/.dtbcache.v2
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/1a51d094-4e3f-4f9d-997d-e2a23d36c9f5.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/255cfed6-f06b-41da-b859-8bb57b66ef2d.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/3250acad-dd5d-4efa-9d9c-778d2349f402.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/c7c7b96b-fafb-483f-a49d-40ef835f59e0.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/v17/.suo
