/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.AssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.AssemblyInfoInputs.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.assets.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.GeneratedMSBuildEditorConfig.editorconfig
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.GlobalUsings.g.cs
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Flight.AirService.AccessData.csproj.nuget.dgspec.json
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Flight.AirService.AccessData.csproj.nuget.g.props
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Flight.AirService.AccessData.csproj.nuget.g.targets
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/project.assets.json
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/project.nuget.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.AssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.AssemblyInfoInputs.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.assets.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.GeneratedMSBuildEditorConfig.editorconfig
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.GlobalUsings.g.cs
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Flight.AirService.DTOObjects.csproj.nuget.dgspec.json
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Flight.AirService.DTOObjects.csproj.nuget.g.props
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Flight.AirService.DTOObjects.csproj.nuget.g.targets
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/project.assets.json
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/project.nuget.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.AssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.AssemblyInfoInputs.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.assets.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.csproj.AssemblyReference.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.GeneratedMSBuildEditorConfig.editorconfig
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.GlobalUsings.g.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Flight.AirService.Api.csproj.nuget.dgspec.json
/Flight.AirService.Solution/Flight.AirService.Api/obj/Flight.AirService.Api.csproj.nuget.g.props
/Flight.AirService.Solution/Flight.AirService.Api/obj/Flight.AirService.Api.csproj.nuget.g.targets
/Flight.AirService.Solution/Flight.AirService.Api/obj/project.assets.json
/Flight.AirService.Solution/Flight.AirService.Api/obj/project.nuget.cache
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/DesignTimeBuild/.dtbcache.v2
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/1a51d094-4e3f-4f9d-997d-e2a23d36c9f5.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/255cfed6-f06b-41da-b859-8bb57b66ef2d.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/3250acad-dd5d-4efa-9d9c-778d2349f402.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/c7c7b96b-fafb-483f-a49d-40ef835f59e0.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/v17/.suo
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/13fe08e2-5b94-4da4-a022-27682b78c289.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/38d2e1dc-a1e3-4017-9b8f-ad38ef99094d.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/74997214-d91a-48c4-af6d-5c138e764728.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/bdca342c-1c09-4a8d-aedb-a421bab4b30f.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/f04578df-4139-4835-be58-c24a0cd762b1.vsidx
/Flight.AirService.Solution/Flight.AirService.AccessData/bin/Debug/net8.0/Flight.AirService.AccessData.deps.json
/Flight.AirService.Solution/Flight.AirService.AccessData/bin/Debug/net8.0/Flight.AirService.AccessData.dll
/Flight.AirService.Solution/Flight.AirService.AccessData/bin/Debug/net8.0/Flight.AirService.AccessData.pdb
/Flight.AirService.Solution/Flight.AirService.AccessData/bin/Debug/net8.0/Flight.AirService.AccessData.runtimeconfig.json
/Flight.AirService.Solution/Flight.AirService.AccessData/bin/Debug/net8.0/Flight.AirService.DTOObjects.dll
/Flight.AirService.Solution/Flight.AirService.AccessData/bin/Debug/net8.0/Flight.AirService.DTOObjects.pdb
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.csproj.AssemblyReference.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.csproj.CopyComplete
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.csproj.CoreCompileInputs.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.csproj.FileListAbsolute.txt
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.dll
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.genruntimeconfig.cache
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.pdb
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/Flight.AirService.AccessData.sourcelink.json
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/ref/Flight.AirService.AccessData.dll
/Flight.AirService.Solution/Flight.AirService.AccessData/obj/Debug/net8.0/refint/Flight.AirService.AccessData.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/appsettings.Development.json
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/appsettings.json
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.Api.deps.json
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.Api.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.Api.exe
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.Api.pdb
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.Api.runtimeconfig.json
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/apphost.exe
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.csproj.CopyComplete
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.csproj.CoreCompileInputs.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.csproj.FileListAbsolute.txt
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.dll
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.genruntimeconfig.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.MvcApplicationPartsAssemblyInfo.cache
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.MvcApplicationPartsAssemblyInfo.cs
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.pdb
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/Flight.AirService.Api.sourcelink.json
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/ref/Flight.AirService.Api.dll
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/refint/Flight.AirService.Api.dll
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/staticwebassets.build.json
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.Flight.AirService.Api.props
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Flight.AirService.Api.props
/Flight.AirService.Solution/Flight.AirService.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Flight.AirService.Api.props
/Flight.AirService.Solution/Flight.AirService.DTOObjects/bin/Debug/net8.0/Flight.AirService.DTOObjects.deps.json
/Flight.AirService.Solution/Flight.AirService.DTOObjects/bin/Debug/net8.0/Flight.AirService.DTOObjects.dll
/Flight.AirService.Solution/Flight.AirService.DTOObjects/bin/Debug/net8.0/Flight.AirService.DTOObjects.pdb
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.csproj.CoreCompileInputs.cache
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.csproj.FileListAbsolute.txt
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.dll
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.pdb
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/Flight.AirService.DTOObjects.sourcelink.json
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/ref/Flight.AirService.DTOObjects.dll
/Flight.AirService.Solution/Flight.AirService.DTOObjects/obj/Debug/net8.0/refint/Flight.AirService.DTOObjects.dll
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/3d28cb05-5c76-4dd7-960e-3dfe55f7b88f.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/0015cc7e-3b40-4463-84bd-c7170419b407.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/3c5ffa51-fb1f-42fa-8232-40cd256f7501.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/a6856fa9-5941-4697-a492-963286063f51.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/b290cabd-93b6-4f0d-8bad-810f1c64e9a6.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/fd2c322b-7513-442a-bd8c-e0be91c79558.vsidx
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Azure.Core.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Azure.Identity.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.AccessData.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.AccessData.pdb
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.DTOObjects.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Flight.AirService.DTOObjects.pdb
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Humanizer.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Mono.TextTemplating.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/Newtonsoft.Json.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.CodeDom.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Composition.Convention.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Composition.Hosting.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Composition.Runtime.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Composition.TypedParts.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Drawing.Common.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Memory.Data.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Runtime.Caching.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Security.Permissions.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/System.Windows.Extensions.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/Flight.AirService.Solution/Flight.AirService.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/b2cb2071-cceb-40dd-8e4d-5467e9811e18.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/1bf2312d-52db-4d37-a55a-0400bf719180.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/8e272ef5-eed2-4b1b-96dc-a6eed39740a2.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/8f5eb214-d36f-4607-b843-e24f031b098b.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/dbd9f6ab-fe4e-49bb-ad9f-f0aa4fed4dd4.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/f0572d38-c826-4781-a13b-eacfa37c6ead.vsidx
/Flight.AirService.Solution/.vs/Flight.AirService.Solution/FileContentIndex/5cb8153b-5b92-45d2-a0d5-9c4cef7ca0d7.vsidx
